
@{ViewBag.Title = "Administration";}

<h2>Administration</h2>
<br/>

@Html.ActionLink("Product Admin", "ProductsList", null, new {@class="btn btn-lg btn-info" })

@Html.ActionLink("Customer Admin", "CustomerList", null, new { @class = "btn btn-lg btn-info" })




